<div class="navbar bg-warning">
  <div class="flex-1">
    <%= link_to t('header.title'), unauthenticated_root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <%# ハンバーガーメニュー %>
  <div class="flex-none gap-2 sm:hidden">
    <div class="dropdown dropdown-end">
      <button tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </button>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li class='my-1'><%= link_to t('header.new'), new_user_registration_path %></li>
        <li class='my-1'><%= link_to t('header.login'), new_user_session_path %></li>
        <li class='my-1'>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "#{OmniAuth::Utils.camelize(provider)}ログイン", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
