<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <aside class="items-center grid-flow-col">
    <p>Copyright © 2024 - All right reserved</p>
  </aside>

  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-sm sm:text-lg hover:text-blue-500' %>
    <%= link_to '利用規約', terms_path, class: 'text-sm sm:text-lg hover:text-blue-500'  %>
    <%= link_to 'お問い合わせ', contact_form_path, class: 'text-sm sm:text-lg hover:text-blue-500' %>
  </nav>

</footer>
