<h1>料理レシピ検索</h1>
  <div>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, required: true %>
      <%= f.submit '検索する', disable_with: '検索中...' %>
    <% end %>
    <%# # 全種類の小カテゴリーを表示 %>
    <% if @search.present? %>
      <% @filtered_categories.each do |category| %>
        <%= category.name %>
      <% end %>
    <% end %>
  </div>

