
<div class="grid flex-grow max-w-96 card bg-base-200 rounded-box place-items-center">
  <%= form_with model: food, local:true do |f|%>
    <div class="m-10 space-y-6">
      <div class="relative w-40" data-controller="input-number">
        <button class="absolute left-0 top-0 rounded-r-none btn btn-square" data-action="click->input-number#decrease">-</button>
        <%= f.number_field :quantity, class: "w-full text-center px-12 input input-bordered", id: "input-number", data: { target: "input-number.input" }, min: 0%>

        <button class="absolute right-0 top-0 rounded-l-none btn btn-square" data-action="click->input-number#increase">+</button>
    </div>
    <%= f.submit "入力完了", disable_with: '登録中...', class:"btn btn-outline btn-success mt-5"%>
  <% end %>
</div>
