<button class="btn card bg-slate-50 rounded-box flex flex-row justify-between items-center w-full min-w-40 max-w-xs" onclick="name_modal.showModal()">
  <span class="flex-shrink-0"></span>
  <span class="truncate flex-1 mx-2"><%= food.name %></span>
  <span class="flex-shrink-0">&gt;</span>
</button>
<dialog id="name_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-3">食材名を入力</h3>
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= form_with model: food, local:true do |f|%>
      <div class='flex items-center mx-auto max-w-xs'>
        <%= f.text_area :name, class:"textarea textarea-bordered w-full", placeholder: "食材名を入力" %>
      </div>
      <%= f.submit "変更する", disable_with: '登録中...', class:"btn btn-outline btn-success mt-5"%>
    <% end %>
  </div>
</dialog>
